header.header
  .header-main
    .container
      .logo
        <img src="http://x-lines.ru/letters/i/cyrillicgothic/2261/bfffb6/44/0/kpwg635ipa.png">
      include ../navigation/main-nav
      .search.header-main__search
        input(placeholder="Введите текст для поиска").input-field
      include ../social/social-media.pug
