.main-search__button {
	padding: 0 12px;
	height: 35px;
	display: flex;
	flex: 0 1 35px;
	background-color: #c2d048;
	border-radius: 17px;
	color: #fff;
	border: none;
	align-content: center;
	margin-left: -34px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}