.header {
  background: $white;
  .container {
    align-items: center;
    display: flex;
  }
}

.header-main {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.search {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  height: 35px;
}

.input-field {
  border-radius: 20px;
  padding: 10px 20px;
  background: $white;
  height: 35px;
  border: solid 1px #dedede;
}

.container {
  display: flex;
  justify-content: space-around;
}

