.social-media
  ul.social-media__list
    li.social-media__item
      a(href="#" target="blank").social-media__link
        img(src="static/images/svg/telegram.svg" width='26' height='26' alt="Телеграм").social-media__icon
    li.social-media__item
      a(href="#" target="blank").social-media__link
        img(src="static/images/svg/vk.svg" width='26' height='26' alt="ВКонтакте").social-media__icon
    li.social-media__item
      a(href="#" target="blank").social-media__link
        img(src="static/images/svg/fb.svg" width='26' height='26' alt="Фейсбук").social-media__icon
    li.social-media__item
      a(href="#" target="blank").social-media__link
        img(src="/static/images/svg/rss.svg" width='26' height='26' alt="RSS").social-media__icon
