nav.main-nav
  ul.main-nav__list
    li.main-nav__item
      a(href='').main-nav__link Новости
    li.main-nav__item
      a(href='').main-nav__link Турниры
    li.main-nav__item
      a(href='').main-nav__link Видео
    li.main-nav__item
      a(href='').main-nav__link Фотографии
    li.main-nav__item
      a(href='').main-nav__link Ставки
